<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
        <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="mainContaint">
    <h1>Getting started...</h1>
    {{>header}}
    <ul>
        <li>Search by city name.</li>
        <li>City name should exist</li>
        <li>Get the weather data for current day</li>
    </ul>
    </div>
    {{>footer}}
</body>
</html>