body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: top center;
}

.mainContaint{
    flex-grow: 1;
}

#messageOne{
    font-size: 20px;
}

#messageTwo{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 300;
    width: 155px;
}

#messageThree{
    width: 300px;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin: 16px 0 48px 0;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input{
    border: 1px solid #cccccc;
    padding: 8px ;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}